* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
}

body {
    background-color: #252525;
}

/* DISEÑO 1 */

@media screen and (max-width:599px){
    .content {
        position: absolute;
        width: 100%;
        padding-left: 6%;
        padding-right: 6%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 78px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 14px;
    }

    p {
        font-family: sans-serif;
        font-size: 18px;
        padding-bottom: 14px;
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}

/* DISEÑO 2 */

@media screen and (max-width:840px) and (min-width:600px){
    .content {
        position: absolute;
        width: 100%;
        padding-left: 6%;
        padding-right: 6%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: #FFFFFF;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 90px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 16px;
    }

    p {
        font-family: sans-serif;
        font-size: 20px;
        padding-bottom: 16px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}

/* DISEO 3 */

@media screen and (max-width:1024px) and (min-width: 841px) {
    #container {
        display: flex;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
        width: 70%;
        padding: 50px 50px 50px 50px;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 80px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 16px;
    }

    p {
        font-family: sans-serif;
        font-size: 18px;
        padding-bottom: 16px;
    }

    button {
        width: 120px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}

/* DISEO 4 */

@media screen and (max-width:1280px) and (min-width: 1025px) {
    #container {
        display: flex;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
        width: 70%;
        padding: 50px 50px 50px 80px;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 86px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 24px;
        padding-bottom: 16px;
        line-height: 34px;
    }

    p {
        font-family: sans-serif;
        font-size: 20px;
        padding-bottom: 16px;
    }

    button {
        width: 120px;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}

/* DISEO 5 */

@media screen and (max-width:1366px) and (min-width: 1281px) {
    #container {
        display: flex;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
        width: 70%;
        padding: 50px 50px 50px 80px;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 100px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 18px;
    }

    p {
        font-family: sans-serif;
        font-size: 20px;
        padding-bottom: 18px;
    }

    button {
        width: 120px;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}

/* DISEO 6 */

@media screen and (max-width:1440px) and (min-width: 1367px) {
    #container {
        display: flex;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
        width: 70%;
        padding: 50px 50px 50px 80px;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 120px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 26px;
        line-height: 38px;
        padding-bottom: 20px;
    }

    p {
        font-family: sans-serif;
        font-size: 22px;
        padding-bottom: 20px;
    }

    button {
        width: 140px;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}

/* DISEO 7 */

@media screen and (max-width:1920px) and (min-width: 1441px) {
    #container {
        display: flex;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
        width: 70%;
        padding: 50px 50px 50px 120px;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 160px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 36px;
        line-height: 46px;
        padding-bottom: 22px;
    }

    p {
        font-family: sans-serif;
        font-size: 30px;
        padding-bottom: 22px;
    }

    button {
        width: 200px;
        padding: 14px 28px;
        font-size: 26px;
        font-weight: 600;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}

/* DISEO 8 */

@media screen and (max-width:2560px) and (min-width: 1921px) {
    #container {
        display: flex;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
        width: 70%;
        padding: 50px 50px 50px 180px;
    }

    h1 {
        font-family: 'Honk', system-ui;
        font-size: 240px;
    }

    h2 {
        font-family: 'Sixtyfour', sans-serif;
        font-size: 48px;
        line-height: 64px;
        padding-bottom: 30px;
    }

    p {
        font-family: sans-serif;
        font-size: 38px;
        padding-bottom: 30px;
    }

    button {
        width: 250px;
        padding: 20px 32px;
        font-size: 32px;
        font-weight: 600;
        cursor: pointer;
        background-color: #F2F2F2;
        color: #252525;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    button:hover {
    background-color: #2980b9;
    }
}