#contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4rem);
    background-color: #252525;
    padding: 3rem;
    justify-content: center;
    background-color: #1a1a1a;
    background: radial-gradient(circle at center, #2a2a2a 0%, #1a1a1a 100%) !important;
}

#social-network {
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-section {
    background-color: blue;
    width: 100%;
}

.social-button {
    background-color: red;
    margin: 1rem 0;
    font-size: 1.5rem;
    width: 100%;
}

.instagram-btn {
}

.github-btn {
}

.social-button a {
    color: #f2f2f2;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

.social-button a i {
    grid-column: 1;
    justify-self: center;
}

.social-button a span {
    grid-column: 2;
    text-align: center;
}

#contact-form {
    display: none;
}