header {
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 70px;
    background: #000;
}

header h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    letter-spacing: 5px;
    color: #FFF;
}

@media (max-width:420px){

    header {
        line-height: normal;
    }

    header h1 {
        font-size: 22px;
    }
}