header {
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    position: sticky;
    padding-left: 6%;
    padding-right: 6%;
    top: 0;
    background-color: #000;
}

header h1 a {
    font-family: 'Russo One', sans-serif;
    font-size: 32px;
    color: #FFF;
    letter-spacing: 3px;
    filter: brightness(95%);
}

header h1 a:hover {
    transition: .3s;
    color: rgb(235, 232, 39);
}

@media (max-width:920px){
    header {
        flex-direction: column;
    }

    header h1 {
        padding-top: 10px;
    }

    header nav {
        padding-bottom: 3px;
    }
}

@media (max-width:500px){
    header h1 {
        font-size: 24px;
    }

    header h1 a {
        font-size: 24px;
    }
    
    header nav {
        font-size: 14px;
    }

    header nav a {
        font-size: 14px;
    }
}

@media (max-width:420px){

    header h1 {
        font-size: 20px;
    }

    header h1 a {
        font-size: 20px;
    }
    
    header nav {
        font-size: 12px;
    }

    header nav a {
        font-size: 12px;
    }
}

@media (max-width:365px){

    header h1 {
        font-size: 18px;
    }

    header h1 a {
        font-size: 18px;
    }
    
    header nav {
        font-size: 10px;
    }

    header nav a {
        font-size: 10px;
    }
}

@media (max-width:310px){

    header h1 {
        font-size: 16px;
    }

    header h1 a {
        font-size: 16px;
    }
    
    header nav {
        font-size: 8px;
    }

    header nav a {
        font-size: 8px;
    }
}