:root {
    --h1-font: 'Russo One', sans-serif;
    --h2-font: 'Secular One', sans-serif;
    --h3-font: 'Secular One', sans-serif;
    --p-font: 'Roboto', sans-serif;
    --nav-font: 'Roboto', sans-serif;
}