#soy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    background-color: #F2F2F2;
    overflow: hidden;
}

#soy1 {
    background-image: url(../assets/messi.jpg);
    min-width: 50%;
    background-attachment: fixed;    
    background-size: contain;
}

#soy1-d {
    min-height: 100vh;
    min-width: 50%;
}

#soy2 {
    padding-left: 4%;
    padding-right: 4%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#soy2 h2 {
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}

#soy2 p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 34px;
}

@media (max-width:1000px){
    #soy1 {
        min-width: 35%;
        background-size: cover;
        background-position-x: -100px;
    }
}

@media (max-width:750px){
    #soy {
        flex-direction: column;
    }

    #soy1 {
        min-width: 100%;
        max-height: 50vh;
    }

    #soy2 {
        max-width: 100%;
        min-height: 50vh;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:640px){
    #soy2 {
        padding-top: 20px;
    }

    #soy2 h2 {
        font-size: 22px;
    }

    #soy2 p {
        font-size: 18px;
    }
}

@media (max-width:450px){
    #soy2 h2 {
        font-size: 20px;
    }

    #soy2 p {
        font-size: 16px;
    }
}