/* AJUSTES GENERALES */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    outline: 0;
    padding: 0;
    color: #252525;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.cliqueable {
    cursor: pointer;
}

.disable_click {
    user-select: none;
}

/* AJUSTES PREDETERMINADOS (1366x768 px) */

    /* SECCIÓN HEADER */

header {
    opacity: 0;
    width: 100%;
    height: 90px;
    display: flex;
    position: fixed;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;

}

ul {
    display: flex;
}

header ul li {
    font-size: 20px;
    font-weight: 300;
    margin-left: 14px;
    position: relative;
    margin-right: 12px;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
}

header ul li::after {
    width: 0;
    left: 50%;
    bottom: 0;
    height: 1px;
    content: '';
    bottom: -3px;
    position: absolute;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    background-color: #252525;
}

header ul li:hover::after {
    width: 100%;
}

    /* SECCIÓN INICIO */

#content {
    display: flex;
    flex-direction: column;
}

#home {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#home p {
    font-size: 200px;
    letter-spacing: 1.5vw;
    font-family: sans-serif;
}

#down_button {
    bottom: 4%;
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background-color: #d9d9d9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#down_button:hover {
    transform: translateY(-5px);
    background-color: #bfbfbf;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#down_button:active {
    transform: translateY(-2px) scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

#down_button i {
    font-size: 30px;
}

    /* SECCIÓN CONTACTO */

#contacto {
    height: 100vh;
    display: flex;
    /*background-color: #252525;*/
}

header.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
}
  
header:not(.hidden) {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s;
}