/* AJUSTES GENERALES */

* {
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.cliqueable {
    cursor: pointer;
}

.disable_click {
    user-select: none;
}

/* AJUSTES PREDETERMINADOS (1366x768 px) */

    /* SECCIÓN HEADER */

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
}

header ul li {
    font-size: 20px;
    font-weight: 300;
    margin-top: 12px;
    color: #000000;
    margin-left: 12px;
    position: relative;
    margin-right: 12px;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
}

header ul li::after {
    width: 0;
    left: 50%;
    bottom: 0;
    height: 1px;
    content: '';
    bottom: -3px;
    position: absolute;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    background-color: #252525;
}

header ul li:hover::after {
    width: 100%;
}

    /* SECCIÓN HOME */

#content {
    display: flex;
    flex-direction: column;
}

#home {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    height: calc(100vh - 60px);
}