/* HEADER-NAV */

header {
    overflow-x: hidden;
    display: flex;
    height: 60px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    padding-left: 4%;
    padding-right: 4%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0px 2px 2px black;
}

header h1 a {
    font-family: var(--h1-font);
    font-size: 20px;
    letter-spacing: 4px;
    color: #FFF;
    line-height: 60px;
}

#menu {
    display: flex;
}

#menu_items {
    display: none;
}

#menu_btn {
    font-size: 16px;
    color: #FFF;
}

@media screen and (min-width: 375px) {
    header h1 a {
        font-size: 22px;
    }

    #menu_btn {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    #menu_items {
        display: flex;
    }

    #menu_items li {
        border-radius: 3px;   
    }

    #menu_items li a {
        display: block;
        padding: 8px 8px;
        color: #FFF;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }

    #menu_items li a:hover, li a:active {
        transition: .4s;
        background-color: #FFF;
        color: #000;
    }

    #menu_btn {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    header {
        height: 70px;
    }
    
    header h1 a {
        font-size: 32px;
        line-height: 70px;
    }

    #menu_items li a {
        padding: 8px 10px;
        font-size: 16px;
    }
}

/* FIN DEL HEADER-NAV */

/* SECCIÓN INICIO */

#inicio {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

#inicio img {
    width: 180px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    opacity: .50;
}

#inicio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 2;
}

#inicio_div h2 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 40px;
    letter-spacing: 6px;
    color: #FFF;
    font-weight: bold;
}

#ip1 {
    font-family: sans-serif;
    text-align: left;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

#ip2 {
    font-family: sans-serif;
    text-align: right;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

@media screen and (min-width: 375px) {
    #inicio img {
        width: 200px;
    }
    
    #inicio_div {
        padding-left: 20%;
        padding-right: 20%;
    }
    
    #inicio_div h2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 425px) {
    #inicio img {
        width: 250px;
    }
    
    #inicio_div {
        padding-left: 36%;
        padding-right: 36%;
    }
    
    #inicio_div h2 {
        font-size: 50px;
    }
}

@media screen and (min-width: 768px) {
    #inicio img {
        width: 330px;
    }
    
    #inicio_div {
        padding: 0;
    }
    
    #inicio_div h2 {
        font-size: 48px;
    }
    
    #ip1 {
        font-size: 18px;
    }
    
    #ip2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    #inicio img {
        width: 380px;
    }
    
    #inicio_div {
        padding: 0;
    }
    
    #inicio_div h2 {
        font-size: 58px;
        letter-spacing: 8px;
    }
    
    #ip1 {
        font-size: 20px;
    }
    
    #ip2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    #inicio {
        height: calc(100vh - 70px);
    }

    #inicio img {
        width: 500px;
    }
    
    #inicio_div h2 {
        font-size: 70px;
        letter-spacing: 10px;
    }
    
    #ip1 {
        font-size: 24px;
    }
    
    #ip2 {
        font-size: 24px;
    }
}

/* FIN DEL INICIO */

/* SECCIÓN SOBRE MI */

#sobreMi {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #252525;
}

#sobreMi p {
    color: #FFF;
    font-family: var(--p-font);
    font-size: 18px;
    line-height: 30px;
}

@media screen and (min-width: 768px) {
    #sobreMi {
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 6%;
        padding-bottom: 6%;
    }
    
    #sobreMi p {
        font-size: 18px;
        line-height: 36px;
    }
}

@media screen and (min-width: 1024px) {
    #sobreMi {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 6%;
        padding-bottom: 6%;
    }
    
    #sobreMi p {
        font-size: 20px;
        line-height: 38px;
    }
}

@media screen and (min-width: 1440px) {
    #sobreMi {
        min-height: calc(100vh - 70px);
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 6%;
        padding-bottom: 6%;
    }
    
    #sobreMi p {
        font-size: 24px;
        line-height: 50px;
    }
}