/* AJUSTES GENERALES */

* {
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.cliqueable {
    cursor: pointer;
}

/* AJUSTES PREDETERMINADOS (1366x768 px) */

    /* SECCIÓN HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    background-color: white;
}

ul {
    display: flex;
}

header ul li {
    color: #000000;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    margin-left: 12px;
    margin-right: 12px;
}

    /* SECCIÓN HOME */
