* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    width: 100%;
    height: 70px;
    background-color: #000000;
    border-bottom: 3px solid #1A1919;
}

header h1 {
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 45px;
    width: 100%;
    border-bottom: 3px solid #1A1919;
}

nav a {
    color: #FFFFFF;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
}

nav ul li {
    float: left;
    margin: 10px;
    line-height: 23px;
}

.clearfix {
    clear: both;
}