/* CSS GENERAL */

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clearfix {
    clear: both;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CSS ESPECÍFICO */

.h2b {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

.h2n {
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

.h3b {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}

.h3n {
    color: #000000;
    font-family: 'Rubik', sans-serif;
}

.pb {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.pn {
    color: #000000;
    font-family: 'Lato', sans-serif;
}

.lib {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.lin {
    color: #000000;
    font-family: 'Lato', sans-serif;
}

.divimg {
    text-align: center;
}

.imginf {
    height: 70px;
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

/* CSS HEADER */

header {
    height: 70px;
    width: 100%;
    background-color: #000000;
    border-bottom: 3px solid #1A1919;
}

header h1{
    text-align: center;
    line-height: 70px;
    color: #FFFFFF;
    letter-spacing: 3px;
    font-family: 'Secular One', sans-serif;
}

/* CSS NAV */

nav {
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 45px;
    width: 100%;
    border-bottom: 3px solid #1A1919;
}

nav ul li {
    float: left;
    margin: 10px;
    line-height: 26px;
}

nav a {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
}

nav a:hover {
    color: crimson;
}

/* CSS ARTÍCULOS */

#quienSoy {
    width: 100%;
    background-color: #FFFFFF;
}

#quienSoy h2 {
    margin: 16px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}

#quienSoy h3 {
    margin: 30px;
    text-align: center;
    font-size: 23px;
}

#quienSoy p {
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 26px;
}

#servicios {
    width: 100%;
    background-color: #000000;

}

#servicios h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}

#servicios h3 {
    margin: 35px;
    text-align: left;
    margin-left: 8%;
    font-size: 23px;
}

#servicios p {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 26px;
}

#servicios li {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold
}

#conocimientos {
    width: 100%;
    background-color: #FFFFFF;
}

#conocimientos h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}

#conocimientos h3 {
    margin: 35px;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 23px;
}

#conocimientos p {
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 26px;
}

#proyectos {
    width: 100%;
    background-color: #000000;
}

#proyectos h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}

#proyectos h3 {
    margin: 35px;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 23px;
}

#proyectos p {
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 26px;
}

/* CSS FOOTER */

footer {
    height: 30px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 30px;
}

/* Sliders */

.container-slider {
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 5px #f2f2f2,
                0 10px 25px #FFFFFF;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    height: 500px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(191, 191, 191, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #000000;
    color: #FFFFFF;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px ;
}